.content {
    display: inline-block;
}

.postcontainer ul li {
    display: inline;
    text-align: center;
}

.postcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.postcontainer ul li a
    {
text-decoration: none;
padding: .2em 1em;
text-align: center;

}

.container{
    list-style: none;
}

.jumbotron{
    width: 715px;
    margin: auto;
}
body {
    background-color: #c4dce8;
}

img {
    width: 150px;
    height: 150px;
}